<div class="container mt-5">
    <div class="row">
        <ng-container *ngIf="userCart.length;else cart">
        <div class="col-md-10 mx-auto" *ngFor="let i of userCart" >
            <div class="d-flex flex-row justify-content-between m-3">
                <img src={{i.image}} alt="product" height="100px" width="100px">
            <div class="ms-2">
                <p class="d-inline-block text-truncate" style="max-width: 150px;">{{i.title}}</p>
                <p><span class="fw-bold">Price</span> : ₹ {{i.totalAmount}}</p>
                <p><span class="fw-bold">Quantity</span> : {{i.quantity}}</p>
            </div>
            <div class="">
                <button mat-icon-button (click)="decrease(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  <span class="fs-2"> {{i.quantity}}</span>
                  <button mat-icon-button (click)="increase(i)">
                    <mat-icon>add_circle</mat-icon>
                  </button>
            </div>
            </div>
        </div>
        <div class="col-12" *ngIf="userCart.length!=0">
            <div class="d-flex flex-column align-items-end me-5 ">
            <p class="fs-5"><span class="fw-bold">Total Item's Quantity:</span>  {{totalQuantity}}</p>
            <p class="fs-5"><span class="fw-bold">Total Item's Price :</span> {{totalMoney}}</p>
            <button  mat-raised-button color="primary" (click)="buyproducts()">Place Order's</button>
        </div>
        </div>
    </ng-container>
</div>
        <ng-template #cart>
            <div class="col-12 mt-5 emptyCart">
                <img src="https://images.pexels.com/photos/7195232/pexels-photo-7195232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="empty Cart" height="100%" width="100%">
            </div>
        </ng-template>
</div>