.container-fluid
{
    background-color: blueviolet;
    height: 675px;
}
.img-fluid{
    height: 200px;
}

input#file {
    /* display: inline-block; */
    width: 47px;
    padding: 58px 52px 0 0;
    height: 10px;
    overflow: hidden;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    background: url('https://cdn0.iconfinder.com/data/icons/phosphor-fill-vol-4/256/user-circle-plus-fill-256.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
    opacity: .0;
  }

